@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Futura';
  src: url('/fonts/futura/futura light bt.ttf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/future/futur.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/future/futura medium bt.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/future/Futura Bold font.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/future/Futura Extra Black.ttf');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Futura, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.standard-text-strong {
  @apply text-black dark:text-white text-opacity-100 dark:text-opacity-100;
}

.standard-text {
  @apply text-black dark:text-white text-opacity-80 dark:text-opacity-80;
}

.standard-text-light {
  @apply text-black dark:text-white text-opacity-70 dark:text-opacity-60;
}

.standard-text-light-hover {
  @apply text-black dark:text-white text-opacity-70 dark:text-opacity-60 hover:text-opacity-100 dark:hover:text-opacity-100;
}
